body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  background-color: white;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.result-box {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.counter {
  font-size: 24px;
  font-weight: bold;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  width: 100px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

/* Adjust input and minus counter position */
.input-container .counter.minus {
  margin: 0;
}

/* Center the result box */
.result-box {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

img {
  max-width: 100%;
}
